


<div class="card__header">
  <div class="card__picture">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carousel-image" src="/assets/images/oxford.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <p>Explore Oxford And Around Oxfordshire</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carousel-image" src="/assets/images/oxfordguide.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <p>Oxford City Centre</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<section class="section-mid">
  <div class="picture-box">
    <img class="picture-box__img picture-box__img--1" src="/assets/images/1.jpg" alt="1st img" />
  </div>
  <div class="picture-box">
    <img class="picture-box__img picture-box__img--2" src="/assets/images/2.jpg" alt="2nd img" />
  </div>
  <div class="picture-box">
    <img class="picture-box__img picture-box__img--3" src="/assets/images/3.jpg" alt="3rd img" />
  </div>
</section>